Repository openstack/placement: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-lvm, nova-tox-functional, nova-tox-functional-py35

nova-lvm:
  parent: legacy-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  timeout: 10800
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml
  required-projects:
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

Adding NVMEoF for libvirt driver
  lower-constraints.txt
  requirements.txt
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

mirror nova host aggregate members to placement
  doc/source/user/placement.rst
  nova/tests/functional/test_aggregates.py
  releasenotes/notes/mirror-host-aggregates-to-placement-597473efa94ee558.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Add nova-manage placement heal_allocations CLI
  nova/test.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Fix some inconsistencies in doc
  doc/source/user/aggregates.rst
Due: none

Change consecutive build failure limit to a weigher
  nova/test.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

placement: always create consumer records
  nova/api/openstack/placement/exception.py
  nova/api/openstack/placement/handlers/allocation.py
  nova/api/openstack/placement/objects/consumer.py
  nova/api/openstack/placement/objects/project.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/api/openstack/placement/objects/user.py
  nova/api/openstack/placement/util.py
  nova/conf/placement.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
  nova/tests/functional/api/openstack/placement/db/test_project.py
  nova/tests/functional/api/openstack/placement/db/test_user.py
  nova/tests/functional/api/openstack/placement/gabbits/ensure-consumer.yaml
  nova/tests/unit/api/openstack/placement/test_util.py
  releasenotes/notes/placement-incomplete-consumer-configuration-b775dac1bcd34f9d.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Use oslo.messaging per-call monitoring
  lower-constraints.txt
  nova/conf/__init__.py
  nova/tests/fixtures.py
  requirements.txt
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

libvirt: Don't report DISK_GB if sharing
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Provide a direct interface to placement
  nova/api/openstack/placement/direct.py
  nova/tests/functional/api/openstack/placement/test_direct.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

add consumers generation field
  nova/db/sqlalchemy/api_migrations/migrate_repo/versions/059_add_consumer_generation.py
  nova/db/sqlalchemy/api_models.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

XenAPI: define a new image handler to use vdi streaming
  lower-constraints.txt
  requirements.txt
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Update nova-status & docs: require placement 1.25
  doc/source/user/placement.rst
Due: none

Add certificate validation docs
  doc/source/index.rst
Due: none

Path conditions:
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
