Repository openstack/placement: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-lvm, nova-tox-functional, nova-tox-functional-py35

nova-lvm:
  parent: legacy-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  timeout: 10800
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml
  required-projects:
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

__str__ methods for RequestGroup, ResourceRequest
  nova/api/openstack/placement/lib.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Move image conversion to privsep.
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

We don't need utils.trycmd any more.
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Cleanup ugly stub in TestLocalDeleteAllocations
  lower-constraints.txt
  test-requirements.txt
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove deprecated monkey_patch config options
  nova/conf/base.py
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Implement granular policy rules for placement
  .gitignore
  doc/source/conf.py
  doc/source/configuration/index.rst
  doc/source/configuration/placement-policy.rst
  doc/source/configuration/sample-placement-policy.rst
  etc/nova/README-policy.yaml.txt
  etc/nova/placement-policy-generator.conf
  lower-constraints.txt
  nova/api/openstack/placement/auth.py
  nova/api/openstack/placement/context.py
  nova/api/openstack/placement/exception.py
  nova/api/openstack/placement/handler.py
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/policies/__init__.py
  nova/api/openstack/placement/policies/base.py
  nova/api/openstack/placement/policies/resource_provider.py
  nova/api/openstack/placement/policy.py
  nova/conf/placement.py
  nova/test.py
  nova/tests/functional/api/openstack/placement/fixtures.py
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider-policy.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider.yaml
  nova/tests/unit/api/openstack/placement/test_context.py
  nova/tests/unit/api/openstack/placement/test_policy.py
  nova/tests/unit/policy_fixture.py
  releasenotes/notes/bp-granular-placement-policy-65722fc6d7cb1359.yaml
  requirements.txt
  setup.cfg
  tox.ini
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Fix inconsistency in docs
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

Update the deprecate os_region_name option
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

Expose instance_get_all_uuids_by_host() from DB API and use it
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Update nova-status and docs for required placement 1.24
  doc/source/user/placement.rst
Due: none

Honor availability_zone hint via placement
  nova/tests/functional/test_aggregates.py
Due: nova-tox-functional, nova-tox-functional-py35

Path conditions:
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
