Repository openstack/placement: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-lvm, nova-tox-functional, nova-tox-functional-py35

.zuul.yaml:

- job:
    name: nova-lvm
    parent: legacy-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    timeout: 10800
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- project:
    name: openstack/nova
    experimental:
      jobs:
        - nova-lvm
    check:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35

[placement] ensure_rc_cache only at start of process
  nova/api/openstack/placement/deploy.py
  nova/api/openstack/placement/objects/resource_provider.py
  nova/tests/unit/api/openstack/placement/objects/test_resource_provider.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Add the guideline to write API reference
  doc/source/contributor/api-ref-guideline.rst
  doc/source/index.rst
Due: none

Add placement perf info gathering hook to end of nova-next
  gate/post_test_perf_check.sh
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove blacklisted py3 xen tests
  tox.ini
Due: nova-tox-functional, nova-tox-functional-py35

Making consistent used of GiB and MiB in API ref
  placement-api-ref/source/traits.inc
Due: none

Remove ChanceScheduler
  setup.cfg
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Add /reshaper handler for POST
  nova/api/openstack/placement/errors.py
  nova/api/openstack/placement/handler.py
  nova/api/openstack/placement/handlers/allocation.py
  nova/api/openstack/placement/handlers/inventory.py
  nova/api/openstack/placement/handlers/reshaper.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/policies/__init__.py
  nova/api/openstack/placement/policies/reshaper.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/schemas/reshaper.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/functional/api/openstack/placement/gabbits/reshaper-policy.yaml
  nova/tests/functional/api/openstack/placement/gabbits/reshaper.yaml
  nova/tests/unit/api/openstack/placement/test_microversion.py
  placement-api-ref/source/allocations.inc
  placement-api-ref/source/index.rst
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/reshaper.inc
  placement-api-ref/source/samples/reshaper/post-reshaper-1.30.json
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Make instance_list perform per-cell batching
  nova/conf/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Make monkey patch work in uWSGI mode
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35
