Repository openstack/placement: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-lvm, nova-tox-functional, nova-tox-functional-py35

.zuul.yaml:

- job:
    name: nova-lvm
    parent: legacy-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    timeout: 10800
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- project:
    name: openstack/nova
    experimental:
      jobs:
        - nova-lvm
    check:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35

Test websocketproxy with TLS in the nova-next job
  .zuul.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_access_get_by_flavor_id db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_get_by_name db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_destroy db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_get_by_flavor_id db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_get db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_get_all db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_create db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove deprecated aggregate DB compatibility
  nova/db/api.py
  nova/db/sqlalchemy/api.py
  nova/objects/aggregate.py
  nova/tests/functional/db/test_aggregate.py
  nova/tests/unit/objects/test_aggregate.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Add functional tests to ensure BDM removal on delete
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Add a nova-caching-scheduler job to the experimental queue
  .zuul.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Only pull associated *sharing* providers
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

rp: GET /resource_providers?required=<traits>
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/microversion.py
  nova/api/openstack/placement/rest_api_version_history.rst
  nova/api/openstack/placement/schemas/resource_provider.py
  nova/tests/functional/api/openstack/placement/gabbits/microversion.yaml
  nova/tests/functional/api/openstack/placement/gabbits/resource-provider.yaml
  placement-api-ref/source/parameters.yaml
  placement-api-ref/source/resource_providers.inc
  releasenotes/notes/placement-required-traits-on-list-resource-providers-fab11cdb36cd3502.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Add check for redundant import aliases
  HACKING.rst
Due: none

Remove unused LOG variables
  nova/api/openstack/placement/handlers/allocation_candidate.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Move makefs to privsep
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Refactor WSGI apps and utils to limit imports
  nova/tests/fixtures.py
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Removed unnecessary parantheses in yield statements
  HACKING.rst
Due: none

Add simple db purge command
  gate/post_test_hook.sh
  nova/db/sqlalchemy/api.py
  requirements.txt
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

ca: Remove 'nova/CA' directory
  nova/CA/.gitignore
  nova/CA/projects/.gitignore
  nova/CA/reqs/.gitignore
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35
