Repository openstack/placement: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-lvm, nova-tox-functional, nova-tox-functional-py35

.zuul.yaml:

- job:
    name: nova-lvm
    parent: legacy-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    timeout: 10800
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- project:
    name: openstack/nova
    experimental:
      jobs:
        - nova-lvm
    check:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35

[placement] Separate API schemas (resource_provider)
  nova/api/openstack/placement/handlers/resource_provider.py
  nova/api/openstack/placement/schemas/resource_provider.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Implement get_traits() for the ironic virt driver
  test-requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

Add functional tests for virt driver get_traits() method
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Use util.validate_query_params in list_traits
  nova/api/openstack/placement/handlers/trait.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

[Placement] Invalid query parameter could lead to HTTP 500
  nova/api/openstack/placement/util.py
  nova/tests/unit/api/openstack/placement/test_util.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

report client: get_provider_tree_and_ensure_root
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

SchedulerReportClient._delete_provider
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

ProviderTree.get_provider_uuids: Top-down ordering
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

set_{aggregates|traits}_for_provider: tolerate set
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

Log options at debug when starting API services under wsgi
  nova/api/openstack/placement/wsgi.py
  releasenotes/notes/bug-1732000-log-options-6db2cc8c747145ca.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Fix nits in support traits changes
  nova/api/openstack/placement/handlers/allocation_candidate.py
  nova/api/openstack/placement/util.py
  placement-api-ref/source/parameters.yaml
  releasenotes/notes/allocation-candidates-traits-1adf079ed0c6563c.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_access_get_by_flavor_id db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_extra_specs_delete db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_extra_specs_get db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_access_remove db api method
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove old flavor_access_add db api methods
  nova/db/api.py
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Updated from global requirements
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

doc: mark the max microversions for queens
  nova/api/openstack/placement/rest_api_version_history.rst
Due: none

Migrate "launch instance" user guide docs
  doc/source/index.rst
Due: none

Add functional tests for traits-based scheduling
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

doc: placement upgrade notes for queens
  doc/source/user/placement.rst
Due: none

Reset the _RC_CACHE between tests
  nova/test.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Doc: Nix os-traits link from POST resource_classes
  placement-api-ref/source/resource_classes.inc
Due: none

Zuul: Remove project name
  .zuul.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

[placement] Add sending global request ID in post
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Add sending global request ID in put (1)
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

placement doc: Conflict caveat for DELETE APIs
  placement-api-ref/source/inventories.inc
  placement-api-ref/source/resource_provider_traits.inc
Due: none

Test case: new standard resource class unusable
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

Address comments from I51adbbdf13711e463b4d25c2ffd4a3123cd65675
  .zuul.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Ensure resource classes correctly
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Add sending global request ID in put (3)
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

[placement] Add sending global request ID in get
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

doc: merge numa.rst to cpu-topologies.rst
  doc/source/_extra/.htaccess
Due: none

Move the nova-next job in-tree and update it
  .zuul.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Clarify the help text for [scheduler]periodic_task_interval
  nova/conf/service.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35
