Repository openstack/placement: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-lvm, nova-tox-functional, nova-tox-functional-py35

.zuul.yaml:

- job:
    name: nova-lvm
    parent: legacy-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    timeout: 10800
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- project:
    name: openstack/nova
    experimental:
      jobs:
        - nova-lvm
    check:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35

tests: fixes mock autospec usage
  nova/test.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Add require_tenant_aggregate request filter
  nova/tests/functional/test_aggregates.py
  releasenotes/notes/tenant_aggregate_placement_filter-c2fed8889f43b6e3.yaml
Due: nova-tox-functional, nova-tox-functional-py35

Add an index on aggregate_metadata.value
  nova/db/sqlalchemy/migrate_repo/versions/389_add_aggregate_metadata_index.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Add AggregateList.get_by_metadata() query method
  nova/objects/aggregate.py
  nova/tests/functional/db/test_aggregate.py
  nova/tests/unit/objects/test_aggregate.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Documentation for tenant isolation with placement
  releasenotes/notes/tenant_aggregate_placement_filter-c2fed8889f43b6e3.yaml
Due: none

Add trusted_certs to instance_extra
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Make generation optional in ProviderTree
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

SchedulerReportClient.update_from_provider_tree
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove a outdated warning
  doc/source/index.rst
Due: none

Transform aggregate.update_metadata notification
  doc/notification_samples/aggregate-update_metadata-end.json
  doc/notification_samples/aggregate-update_metadata-start.json
  nova/notifications/objects/aggregate.py
  nova/objects/aggregate.py
  nova/tests/functional/notification_sample_tests/test_aggregate.py
  nova/tests/unit/objects/test_aggregate.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Support extending attached ScaleIO volumes
  requirements.txt
Due: nova-tox-functional, nova-tox-functional-py35

update_provider_tree devref and docstring updates
  doc/source/index.rst
Due: none

doc: add a link in the install guides about configuring neutron
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

Move test_report_client out of placement namespace
  nova/tests/functional/api/openstack/placement/test_report_client.py
Due: nova-tox-functional, nova-tox-functional-py35

PowerVM: Add proc_units_factor conf option
  nova/conf/__init__.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Make ResourceClass.normalize_name handle sharp S
  nova/rc_fields.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Use Queens UCA for nova-multiattach job
  .zuul.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35
