Repository openstack/placement: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-lvm, nova-tox-functional, nova-tox-functional-py35

nova-lvm:
  parent: legacy-dsvm-base
  description: 'Run standard integration tests using LVM image backend. This is useful if
  
    there are tests touching this code.
  
    '
  timeout: 10800
  run: playbooks/legacy/nova-lvm/run.yaml
  post-run: playbooks/legacy/nova-lvm/post.yaml
  required-projects:
  ...

nova-tox-functional:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project with Nova
  
    specific irrelevant-files list. Uses tox with the ``functional``
  
    environment.
  
    '
  vars:
    tox_envlist: functional
  timeout: 3600

nova-tox-functional-py35:
  parent: openstack-tox
  description: 'Run tox-based functional tests for the OpenStack Nova project
  
    under cPython version 3.5. with Nova specific irrelevant-files list.
  
    Uses tox with the ``functional-py35`` environment.
  
    '
  vars:
    tox_envlist: functional-py35
  timeout: 3600

In Python3.7 async is a keyword [1]
  nova/db/sqlalchemy/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Rename auth_uri to www_authenticate_uri
  nova/tests/unit/api/openstack/placement/test_deploy.py
Due: nova-tox-functional, nova-tox-functional-py35

Online data migration for queued_for_delete flag
  nova/db/sqlalchemy/api_models.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Add functional tests for numa-aware-vswitches
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Add nova-manage placement sync_aggregates
  releasenotes/notes/nova-manage-placement-sync-aggregates-1e6380eceda7dc9b.yaml
Due: none

[placement] Use base test in placement functional tests
  nova/tests/functional/api/openstack/placement/base.py
  nova/tests/functional/api/openstack/placement/db/test_allocation_candidates.py
  nova/tests/functional/api/openstack/placement/db/test_base.py
  nova/tests/functional/api/openstack/placement/db/test_consumer.py
  nova/tests/functional/api/openstack/placement/db/test_resource_class_cache.py
  nova/tests/functional/api/openstack/placement/fixtures/gabbits.py
  nova/tests/functional/api/openstack/placement/fixtures/placement.py
Due: nova-tox-functional, nova-tox-functional-py35

Add additional functional tests for NUMA networks
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Don't poison Host._init_events if it's already mocked
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Improve NeutronFixture and remove unncessary stubbing
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Scrub hw:cpu_model from API samples
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Path conditions:
  nova-lvm: unless all of: ^(placement-)?api-.*$, ^(test-|)requirements.txt$, ^.*\.rst$, ^.git.*$, ^doc/.*$, ^nova/hacking/.*$, ^nova/locale/.*$, ^nova/tests/.*$, ^releasenotes/.*$, ^setup.cfg$, ^tests-py3.txt$, ^tools/.*$, ^tox.ini$
  nova-tox-functional: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
  nova-tox-functional-py35: unless all of: ^.*\.rst$, ^api-.*$, ^doc/source/.*$, ^nova/locale/.*$, ^placement-api-ref/.*$, ^releasenotes/.*$
