Repository openstack/placement: changes, and which Zuul jobs are due for each by the changed paths.
All: nova-lvm, nova-tox-functional, nova-tox-functional-py35

.zuul.yaml:

- job:
    name: nova-lvm
    parent: legacy-dsvm-base
    description: |
      Run standard integration tests using LVM image backend. This is useful if
      there are tests touching this code.
    timeout: 10800
    run: playbooks/legacy/nova-lvm/run.yaml
    post-run: playbooks/legacy/nova-lvm/post.yaml
    required-projects:
      - openstack-infra/devstack-gate
      - openstack/nova
      - openstack/tempest
    irrelevant-files:
      - ^(placement-)?api-.*$
      - ^(test-|)requirements.txt$
      - ^.*\.rst$
      - ^.git.*$
      - ^doc/.*$
      - ^nova/hacking/.*$
      - ^nova/locale/.*$
      - ^nova/tests/.*$
      - ^releasenotes/.*$
      - ^setup.cfg$
      - ^tests-py3.txt$
      - ^tools/.*$
      - ^tox.ini$

- job:
    name: nova-tox-functional
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project with Nova
      specific irrelevant-files list. Uses tox with the ``functional``
      environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional
    timeout: 3600

- job:
    name: nova-tox-functional-py35
    parent: openstack-tox
    description: |
      Run tox-based functional tests for the OpenStack Nova project
      under cPython version 3.5. with Nova specific irrelevant-files list.
      Uses tox with the ``functional-py35`` environment.
    irrelevant-files:
      - ^.*\.rst$
      - ^api-.*$
      - ^doc/source/.*$
      - ^nova/locale/.*$
      - ^placement-api-ref/.*$
      - ^releasenotes/.*$
    vars:
      tox_envlist: functional-py35
    timeout: 3600

- project:
    name: openstack/nova
    experimental:
      jobs:
        - nova-lvm
    check:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35
    gate:
      jobs:
        - nova-tox-functional
        - nova-tox-functional-py35

Extract generate_hostid method into utils.py
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Address nits in I00d29e9fd80e6b8f7ba3bbd8e82dde9d4cb1522f
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Update docs for [keystone_authtoken] changes since Queens
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

Remove deprecated [placement] opts
  nova/conf/placement.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

xenapi: Documents update for XAPI pool shared SR migration
  doc/source/user/aggregates.rst
Due: none

Handle deprecation of inspect.getargspec
  nova/test.py
  nova/utils.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Make service all-cells min version helper use scatter-gather
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35

Remove IronicHostManager and baremetal scheduling options
  setup.cfg
Due: nova-tox-functional, nova-tox-functional-py35

[doc]remove nova-cert leftover in doc
  doc/source/_extra/.htaccess
Due: none

doc: Start using openstackdoctheme's extlink extension
  doc/requirements.txt
  doc/source/conf.py
  doc/source/contributor/placement.rst
  doc/source/index.rst
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
  placement-api-ref/source/conf.py
  placement-api-ref/source/index.rst
Due: nova-tox-functional, nova-tox-functional-py35

Remove [scheduler]/host_manager config option
  setup.cfg
Due: nova-tox-functional, nova-tox-functional-py35

Deprecate the nova-consoleauth service
  doc/source/install/controller-install-obs.rst
  doc/source/install/controller-install-rdo.rst
  doc/source/install/controller-install-ubuntu.rst
Due: none

Fix typos in Host aggregates documentation
  doc/source/user/aggregates.rst
Due: none

Migrate tempest-dsvm-multinode-live-migration job in-tree
  .zuul.yaml
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Make get_instance_objects_sorted() be smart about cells
  nova/conf/api.py
  nova/tests/fixtures.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove remaning log translation in scheduler
  nova/scheduler/filters/aggregate_image_properties_isolation.py
  nova/scheduler/filters/aggregate_instance_extra_specs.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Address feedback from instance_list smart-cell behavior
  nova/conf/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

Remove support for /os-fping REST API
  nova/conf/api.py
Due: nova-lvm, nova-tox-functional, nova-tox-functional-py35

update scheduler to use image-traits
  nova/tests/fixtures.py
Due: nova-tox-functional, nova-tox-functional-py35
